PAYSTACK_SECRET_KEY=sk_test_your_paystack_secret_key_here
GOOGLE_CLIENT_ID=your_google_oauth_client_id_here
GOOGLE_CLIENT_SECRET=your_google_oauth_client_secret_here
GOOGLE_DEVICE_SCOPE=email profile
ADMIN_TOKEN=
PORT=3000
